
<div class="col-md-12 row">
  <div class="col-md-5">
    <div id="name-keywords-filter" class="jumbotron">
      <div class="row">
        <h2 id="dataset-name">SF CityBikes</h2>
      </div>
      <div class="row">
        <h5>Keywords:</h5>
      </div>
      <div class="row">
        <input id="column-filter" type="text" placeholder="Search for column name..."/>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div id="dataset-metadata" class="jumbotron">
      <div class="row">
        <h4>Description:</h4>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>Owner:</h5>
          <h5>Organization: </h5>
        </div>
        <div class="col-md-6">
          <h5>Last Updated:</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 row overflow">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <td>id</td>
        <td>executiontime</td>
        <td>stationid</td>
        <td>stationname</td>
        <td>availabledocks</td>
        <td>totaldocks</td>
        <td>latitude</td>
        <td>longitude</td>
        <td>statusvalue</td>
        <td>statuskey</td>
        <td>availablebikes</td>
        <td>staddress1</td>
        <td>staddress2</td>
        <td>city</td>
        <td>postalcode</td>
        <td>location</td>
        <td>altitude</td>
        <td>teststation</td>
        <td>lastcommunicationtime</td>
        <td>landmark</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>2013-11-24 00:16:01+00</td>
        <td>2</td>
        <td>San Jose Diridon Caltrain Station</td>
        <td>15</td>
        <td>27</td>
        <td>37.33067</td>
        <td>-121.901593</td>
        <td>In Service</td>
        <td>1</td>
        <td>12</td>
        <td>San Jose Diridon Caltrain Station</td>
        <td> </td>
        <td>San Jose</td>
        <td> </td>
        <td>Crandall Street</td>
        <td> </td>
        <td>false</td>
        <td></td>
        <td>San Jose </td>
      </tr>
      <tr>
        <td>2</td>
        <td>2013-11-24 00:16:01+00</td>
        <td>3</td>
        <td>San Jose Civic Center</td>
        <td>4</td>
        <td>15</td>
        <td>37.330698</td>
        <td>-121.888979</td>
        <td>In Service</td>
        <td>1</td>
        <td>11</td>
        <td>San Jose Civic Center</td>
        <td> </td>
        <td>San Jose</td>
        <td> </td>
        <td>W San Carlos Street</td>
        <td> </td>
        <td>false</td>
        <td></td>
        <td>San Jose</td>
      </tr>
    </tbody>
  </table>
</div>