//- Dataset Name and Description
div.col-md-12.row
  div.col-md-5
    div.jumbotron
      div.row
        h2 Dataset Name
      div.row
        h4 Keywords
      div.row
        input(type="text")
  div.col-md-7
    div.jumbotron
      div.row
        h4 Description:
      div.row
        div.col-md-6
          h5 Owner:
          h5 Organization: 
        div.col-md-6
          h5 Last Updated:

//- View Dataset
div.col-md-12.row.overflow
  table.table.table-striped.table-bordered
    thead
      tr
        td executiontime
        td stationid
        td stationname
        td availabledocks
        td totaldocks
        td latitude
        td longitude
        td statusvalue
        td statuskey
        td availablebikes
        td staddress1
        td staddress2
        td city
        td postalcode
        td location
        td altitude
        td teststation
        td lastcommunicationtime
        td landmark
    tbody
      tr
        td 2013-11-24 00:16:01+00
        td 2
        td San Jose Diridon Caltrain Station
        td 15
        td 27
        td 37.33067
        td -121.901593
        td In Service
        td 1
        td 12
        td San Jose Diridon Caltrain Station
        td 
        td San Jose
        td 
        td Crandall Street
        td 
        td false
        td
        td San Jose 
      tr
        td 2013-11-24 00:16:01+00
        td 3
        td San Jose Civic Center
        td 4
        td 15
        td 37.330698
        td -121.888979
        td In Service
        td 1
        td 11
        td San Jose Civic Center
        td 
        td San Jose
        td 
        td W San Carlos Street
        td 
        td false
        td
        td San Jose
