div.results-box.panel.panel-default.col-md-9
  div.filterResults
    {{#if singular}}
    h1.text-center Your search appeared in {{ occurance }} result.
    {{else}}
    h1.text-center Your search appeared in {{ occurance }} results.
    {{/if}}

    {{#if tagsToShow}}
    div.row.current-tags.text-center
      {{#each tags}}
      h4.selected-keyword
        span.label.label-success {{this}}
          span.glyphicon.glyphicon-remove-sign
      {{/each}}
    {{/if}}

    form.form-inline(role='form')
      div.form-group.col-md-10.col-md-offset-1
        label.sr-only(for="filter") Add topics to filter results
        div.input-group
          input#filterTagSearch.form-control(type='text', placeholder="Add topics to filter results.", autocomplete="off")
          span.input-group-btn
            button.btn.btn-default(type="button") Add

    h4.text-center.text-muted Screw this noise! Lets see some data!

    div(style="text-align:center")
      button#seeDataBases.btn.btn-success.btn-lg(type="submit") Go!
        span.glyphicon.glyphicon-chevron-right
