div.filterResults.col-md-9
  {{#if singular}}
  h1.text-center {{ searchTag }} appeared in {{ occurance }} result.
  {{else}}
  h1.text-center {{ searchTag }} appeared in {{ occurance }} results.
  {{/if}}

  h3.text-center.text-muted Add filters to refine search, or click Browse Data Sets start exploring.

  form.form-inline(role='form')
    div.form-group.col-md-10.col-md-offset-1
      label.sr-only(for="filter") Add topics to filter results
      div.input-group
        input#filterTagSearch.form-control(type='text', placeholder="Add topics to filter results.", autocomplete="off")
        span.input-group-btn
          button.btn.btn-default(type="button") Add

  button#seeDataBases.btn.btn-success.btn-lg(type="submit") Browse Data Sets
