
<div class="jumbotron">
  <h1 class="text-center">Welcome To Datsy!</h1>
  <p class="text-center lead">We set data free.</p>
  <button id="visualize-data" class="btn-danger btn-lg col-md-offset-3">Visualize Data</button>
  <button id="explore-data" class="btn-primary btn-lg col-md-offset-2">Explore Datasets</button>
</div>