doctype 5
html
  head
    title DATSY.io
    meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="bower_components/jqueryui/themes/base/minified/jquery-ui.min.css")
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/visualizer.css')
    link(rel='stylesheet', href='/stylesheets/explorer.css')

    link(rel="icon", type="image/png", href="images/icon.png")
    script(src="bower_components/jquery/jquery.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="bower_components/underscore/underscore.js")
    script(src="bower_components/backbone/backbone.js")
    script(src="bower_components/handlebars/handlebars.js")
    script(src="bower_components/d3/d3.js")
    script(src="bower_components/jqueryui/ui/minified/jquery-ui.min.js")  

  body

    //- MASTER AND INDEX TEMPLATES
    script#datsyApp(type="text/x-handlebars-template")
      include templates/datsyApp

      div#wrapper
      
      footer
        include templates/footer

    script#indexView(type="text/x-handlebars-template")
      include templates/indexView

    //- VISUALIZATION TEMPLATES
    script#visualizations(type="text/x-handlebars-template")
      include templates/visualization/visualizations

    script#dropper(type="text/x-handlebars-template")
      include templates/visualization/dropper

    script#columnModel(type="text/x-handlebars-template")
      include templates/visualization/columnModel

    //- DATA EXPLORER TEMPLATES
    script#explore-data(type="text/x-handlebars-template")
      include templates/explore/explore

    script#exploreCategories(type="text/x-handlebars-template")
      include templates/explore/explore-categories

    script#exploreDatasets(type="text/x-handlebars-template")
      include templates/explore/explore-datasets

    //- DATA SET VIEW TEMPLATES
    script#dataSet(type="text/x-handlebars-template")
      include templates/dataSet

    script.
      var DatsyApp = {};

    script(src="javascript/models/Datsy.js")
    script(src="javascript/models/VisDatum.js")

    script(src="javascript/collections/VisData.js")

    script(src="javascript/views/DatsyApp.js")
    script(src="javascript/views/IndexView.js")

    //- Explorere Views
    script(src="javascript/views/explore/ExploreDataView.js")
    script(src="javascript/views/explore/ExploreDatasetsView.js")
    script(src="javascript/views/explore/ExploreCategoriesView.js")

    //- Visualizer Views
    script(src="javascript/views/visualizer/SvgBackboneView.js")
    script(src="javascript/views/visualizer/VisualizerView.js")
    script(src="javascript/views/visualizer/DropAxisView.js")
    script(src="javascript/views/visualizer/GraphView.js")
    script(src="javascript/views/visualizer/ColumnModelView.js")

    script(src="javascript/views/DataSetView.js")

    script(src="javascript/router/router.js")

    script(src="javascript/main.js")
  
    script.
      var datsy = new DatsyApp.Datsy();

      var templates = {};
      $("[type='text/x-handlebars-template']").each(function(index, div){
        templates[div.id] = Handlebars.compile(div.innerHTML);
      });
      datsy.set('templates', templates);
      
      var datsyApp = new DatsyApp.DatsyView({ model: datsy });
