doctype 5
html
  head
    title DATSY.io
    meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="bower_components/jqueryui/themes/base/minified/jquery-ui.min.css")
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/datasearch.css')
    link(rel='stylesheet', href='/stylesheets/explorer.css')

    link(rel="icon", type="image/png", href="images/icon.png")
    script(src="bower_components/jquery/jquery.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="bower_components/underscore/underscore.js")
    script(src="bower_components/backbone/backbone.js")
    script(src="bower_components/handlebars/handlebars.js")
    script(src="bower_components/d3/d3.js")
    script(src="bower_components/jqueryui/ui/minified/jquery-ui.min.js")

  body

    //- MASTER AND INDEX TEMPLATES
    script#datsyApp(type="text/x-handlebars-template")
      include templates/datsyApp

      div#wrapper
      
      footer.container
        include templates/footer

    script#indexView(type="text/x-handlebars-template")
      include templates/indexView

    //- DATA EXPLORER TEMPLATES
    script#exploreDataSets(type="text/x-handlebars-template")
      include templates/explore/exploreDataSets

    script#listDatasets(type="text/x-handlebars-template")
      include templates/explore/listDatasets

    //- SEARCH DATA SETS
    script#dataSetSearch(type="text/x-handlebars-template")
      include templates/dataSetSearch/dataSetSearch

    script#loading(type="text/x-handlebars-template")
      include templates/dataSetSearch/loading

    script.
      var DatsyApp = {};

    script(src="javascript/models/Datsy.js")
    script(src="javascript/models/Tag.js")
    script(src="javascript/models/Database.js")

    script(src="javascript/collections/Tags.js")
    script(src="javascript/collections/Databases.js")

    script(src="javascript/views/DatsyApp.js")
    script(src="javascript/views/IndexView.js")
    script(src="javascript/views/SvgBackboneView.js")

    //- Data Set Search
    script(src="javascript/views/dataSetSearch/DataSetSearchView.js")

    //- Explorer Views
    script(src="javascript/views/explore/ExploreDataSetsView.js")
    script(src="javascript/views/explore/ListDataSetsView.js")

    //- Visualizer Views

    script(src="javascript/router/router.js")
  
    script.
      var datsy = new DatsyApp.Datsy();

      var templates = {};
      $("[type='text/x-handlebars-template']").each(function(index, div){
        templates[div.id] = Handlebars.compile(div.innerHTML);
      });
      datsy.set('templates', templates);
      
      var datsyApp = new DatsyApp.DatsyView({ model: datsy });
