doctype 5
html
  head
    title Datsy.io
    meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

    link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/main.css')

    link(rel="icon", type="image/png", href="images/icon.png")

    script(src="bower_components/jquery/jquery.min.js")
    script(src="bower_components/underscore/underscore-min.js")
    script(src="bower_components/backbone/backbone-min.js")
    script(src="bower_components/handlebars/handlebars.js")

  body
    script#datsyApp(type="text/x-handlebars-template")
      div#container

    script#index(type="text/x-handlebars-template")
      h1 Page Title
      h3 Sub Title
      //- {{#each variable}}
      //- a(href="{{ link }}")
      //-   div
      //-     p.what {{ what }}
      //-     p When: {{ when }}
      //-     p Where: {{ where }}
      //- {{/each}}


    script.
      var DatsyApp = {};

    script(src="javascript/models/Datsy.js")

    //- script(src="javascript/client/collections/XXXX.js")

    script(src="javascript/views/DatsyApp.js")
    script(src="javascript/views/IndexView.js")

    script(src="javascript/router/router.js")
  
    script.
      var datsy = new DatsyApp.Datsy();
      console.log(datsy);
      var templates = {};
      $("[type='text/x-handlebars-template']").each(function(index, div){
          templates[div.id] = Handlebars.compile(div.innerHTML);
      });
      datsy.set('templates', templates);
      var datsyApp = new DatsyApp.DatsyView({ model: datsy });
