doctype 5
html
  head
    title DATSY.io
    meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="bower_components/jqueryui/themes/base/minified/jquery-ui.min.css")
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/datasearch.css')
    link(rel='stylesheet', href='/stylesheets/explorer.css')
    link(rel='stylesheet', href='/stylesheets/visualizer.css')

    link(rel="icon", type="image/png", href="images/icon.png")
    script(src="bower_components/jquery/jquery.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="bower_components/underscore/underscore.js")
    script(src="bower_components/backbone/backbone.js")
    script(src="bower_components/handlebars/handlebars.js")
    script(src="bower_components/d3/d3.js")
    script(src="bower_components/jqueryui/ui/minified/jquery-ui.min.js")

  body

    //- MASTER AND INDEX TEMPLATES
    script#datsyApp(type="text/x-handlebars-template")
      include templates/main/datsyApp

      div#wrapper
      
      footer.container
        include templates/main/footer

    script#indexView(type="text/x-handlebars-template")
      include templates/main/indexView

    script#popularVisualizations(type="text/x-handlebars-template")
      include templates/main/popularVisualizations

    //- DATA EXPLORER TEMPLATES
    script#loadingExplore(type="text/x-handlebars-template")
      include templates/explore/loading

    script#exploreDataSets(type="text/x-handlebars-template")
      include templates/explore/exploreDataSets

    script#listDatasets(type="text/x-handlebars-template")
      include templates/explore/listDataSets

    script#dataSetColumn(type="text/x-handlebars-template")
      include templates/explore/dataSetColumn

    //- SEARCH DATA SETS
    script#filterDatasets(type="text/x-handlebars-template")
      include templates/filter/filterDatasets

    script#loading(type="text/x-handlebars-template")
      include templates/filter/loading

    script#modal(type="text/y-handlebars-template")
      include templates/main/modal

    //- Viz
    script#visualize(type="text/x-handlebars-template")
      include templates/visualization/visualizations

    script.
      var DatsyApp = {};

    script(src="javascript/models/Datsy.js")
    script(src="javascript/models/Tags.js")
    script(src="javascript/models/Database.js")
    script(src="javascript/models/SampleData.js")

    script(src="javascript/collections/Databases.js")

    script(src="javascript/views/DatsyApp.js")
    script(src="javascript/views/IndexView.js")

    script(src="javascript/views/PopularVisualizationsView.js")
      
    //-script(src="javascript/views/helperViews/SvgBackboneView.js")
    script(src="javascript/views/helperViews/BaseModalView.js")

    //- Data Set Search
    script(src="javascript/views/filterDatasets/FilterDataSetsView.js")

    //- Explorer Views
    script(src="javascript/views/explore/ExploreDataSetsView.js")
    script(src="javascript/views/explore/ListDataSetsView.js")
    script(src="javascript/views/explore/DataSetItemView.js")
    script(src="javascript/views/explore/DataSetColumnView.js")
    script(src="javascript/views/explore/DataSampleModelView.js")

    //- Visualizer Views
    script(src="js/views/visualization/SvgBackboneView.js")
    script(src="js/views/visualization/ChartView.js")
    script(src="js/views/visualization/VisView.js")

    script(src="javascript/router/router.js")
  
    script.
      var datsy = new DatsyApp.Datsy();

      var templates = {};
      $("[type='text/x-handlebars-template']").each(function(index, div){
        templates[div.id] = Handlebars.compile(div.innerHTML);
      });
      datsy.set('templates', templates);

      window.universalTemplates = {};
      $("[type='text/y-handlebars-template']").each(function(index, div){
        universalTemplates[div.id] = Handlebars.compile(div.innerHTML);
      });

      var datsyApp = new DatsyApp.DatsyView({ model: datsy });
