div#dropper.col-md-7.col-md-offset-2
  ul.row
    li.xAxis.droppable.col-md-5
      p Drop X axis value here
    li.yAxis.droppable.col-md-5.col-md-offset-2
      p Drop Y axis value here
  button#renderChart.btn.btn-success.btn-lg.center("disabled") Render
  