//- Explore Categories
div.shaded
  input#searchField(type="text", placeholder="Search for keywords...")
  div.categories
    ul.list-group
      header 
        li.shaded-li-header.list-group-item.text-center Explore By Topic
      li.list-group-item Finance
      li.list-group-item Transportation
      li.list-group-item Crime

    ul.list-group
      header
        li.shaded-li-header.list-group-item.text-center Most Popular
      li.list-group-item ...
      li.list-group-item ...
      li.list-group-item ...