h1.text-center Explore Datasets

div.explore-content.row
  div.col-md-4.explore-categories
    //- Insert explore-categories template here

  div.col-md-8.explore-datasets
    //- Insert explore-datasets template here
     