div.landing-splash
  //- TODO: Carolsel of graphs with titles showing data viz.
div.container
  div.landing-copy.col-md-7
    h1.proxima.text-center Welcome to Datsy!
    h3.proxima.lead.text-center We're big data for the little guy.
    p.text-center
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lacus imperdiet, tempor dolor quis, mollis turpis. Nunc at viverra justo, non volutpat diam. Maecenas rutrum sollicitudin ornare. Integer eget nibh in libero pellentesque tincid.
    h2.text-center Let's Get Started
    form(role='form')
      div.form-group
        label.sr-only(for="getStartedForm") Search for a topic that interests you
        input#getStartedForm.form-control(type='text', placeholder="Search for a topic that interests you.", autocomplete="off")
      button#getStartedButton.btn.btn-success.btn-lg(type="submit") Go!

  div.panel.backer.col-md-7

div.about-datsy-strip
  div.container
    div.about-datsy.row.col-lg-12
      h1.proxima.text-center What is Datsy?
      div.row.marketing
        div.col-lg-4
          img.img-circle(src="http://placehold.it/140x140", alt="Generic placeholder image")
          h2 Data at Your Fingertips
          p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
      
        div.col-lg-4
          img.img-circle(src="http://placehold.it/140x140", alt="Generic placeholder image")
          h2 Make Connections
          p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
        
        div.col-lg-4
          img.img-circle(src="http://placehold.it/140x140", alt="Generic placeholder image")
          h2 Bring Data to Life
          p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

      hr.featurette-divider

      div.row.exampleGraphs
        h1.row.text-center But Why Would I Care?
        p.lead.text-center
          | Data belongs to everyone. But for too long it has been inaccessible, stored in complex formats or hidden away on ugly websites.
          | We aim to make it easier for everyone to find the things they want to know about, and see those things visualized in a way that
          | makes data make sense.
        p.lead.text-center
          | Here are some examples taken right from the site.   
      div.row.featurette
        div.col-md-7
          h2.featurette-heading Compare Stock data. 
            span.text-muted See the market change.
          p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        
        div.col-md-5
          img.featurette-image.img-responsive(src="http://placehold.it/700x500", alt="Generic placeholder image")

      hr.featurette-divider

      div.row.featurette
        div.col-md-5
          img.featurette-image.img-responsive(src="http://placehold.it/700x500", alt="Generic placeholder image")

        div.col-md-7
          h2.featurette-heading How does crime affect home prices? 
            span.text-muted Shouldn't have bought that cheap condo, huh?
          p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        
      hr.featurette-divider

      div.row.featurette
        div.col-md-7
          h2.featurette-heading Quantified self, easy to see. 
            span.text-muted How does your life stack up to your friends?
          p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.

        div.col-md-5
          img.featurette-image.img-responsive(src="http://placehold.it/700x500", alt="Generic placeholder image")
div.buffer
 