div.modal-dialog
  div.modal-content
    div.modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
      h4.text-center Search for keyworks on the left, then select data to work with
    div.modal-body
      div.col-lg-6
        form
          input.search-keywords(type="text", placeholder="Search Keywords")
          button.add-keyword.btn.btn-primary &plus;
      div.col-lg-6
        hello
    div.modal-footer
      a.btn.btn-large.btn-success Render
