h1.text-center Data Comes Alive!
form.form-inline.center(role="form")
  div.form-group.col-md-6
    label.sr-only(for="inputData1") Data Set One
    input#inputData1.form-control.input-md(type="text" placeholder="Data Set One")
  div.form-group.col-md-6.offset-2
    label.sr-only(for="inputData2") Data Set Two
    input#inputData2.form-control.input-md(type="text" placeholder="Data Set Two")
div#dataColumnOptions.row
  div#dataSetsOne.col-md-6
    div.dataCol Data Column Option One
    div.dataCol Data Column Option Two
    div.dataCol Data Column Option Three
  div#dataSetTwo.col-md-6
    div.dataCol Data Column Option Four
    div.dataCol Data Column Option Five
    div.dataCol Data Column Option Six

div#graph