h1.text-center Data Comes Alive!

form.form-inline.center(role="form")
  div.form-group.col-md-6
    label.sr-only(for="inputData1") Data Set One
    input#inputData1.form-control(type="text" placeholder="Data Set One")
    button#inputButton1.btn.btn-default(type="submit") Add
  div.form-group.col-md-6
    label.sr-only(for="inputData2") Data Set Two
    input#inputData2.form-control(type="text" placeholder="Data Set Two")
    button#inputButton2.btn.btn-default(type="submit") Add

div#dataColumnOptions.row
  div#dataSetsOne.col-md-6
 
  div#dataSetsTwo.col-md-6

div#graph
