
<div class="content">
  <div class="col-md-8 col-md-offset-2 verticalCenter">
    <h1 class="text-center">Hmmm... {{ searchTag }}?</h1>
    <h2 class="text-center text-muted">Datsy is fetching your results...</h2><img src="images/loading.gif" class="img-responsive"/>
  </div>
</div>