#column-filter {
  font-size: 0.6em;
  width: 100%;
}

#dataset-metadata {
  padding: 5px 30px;
}

#dataset-name {
  margin: 0;
}

#name-keywords-filter {
  padding: 10px 30px;
}

.overflow {
  overflow: auto;
}
