.top-bar {
  margin: 0 20px 0 0;
}
.top-bar .cart {
  overflow: hidden;
}
.top-bar .panel {
  margin-bottom: 5px;
}
.top-bar .panel .panel-heading {
  padding: 5px 0;
}
.top-bar .panel .panel-heading h4 {
  margin: 0;
  padding: 0;
  color: #666;
}
.top-bar .panel .panel-body {
  padding: 3px;
}
.top-bar .panel .panel-body button {
  margin-top: 7px;
  width: 60px;
}
.top-bar .panel .panel-body .cart-text {
  text-align: center;
  margin-top: 3px;
}
.top-bar .panel .panel-body .cart-text p {
  margin: 0;
  font-size: 13px;
}
.top-bar .panel .panel-body .cart-text p.total-columns-added {
  font-size: 18px;
  font-weight: 800;
}
.explore {
  margin-top: 70px;
}
.explore h1 {
  margin-bottom: 4px;
  margin-top: 5px;
}
.explore h3 {
  margin-top: 0;
}
.explore header {
  margin: 15px auto 5px auto;
  width: 100%;
  padding: 3px 3px;
}
.explore header p {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  color: #999;
  cursor: pointer;
}
.explore header p:last-child {
  margin-right: 0px;
}
.explore header p:hover {
  color: #222;
}
.explore header span {
  margin-left: 6px;
}
.explore-datasets {
  margin: 10px 0 20px 0;
}
.explore-datasets .ui-accordion-header {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  background: #4cae4c;
  border-color: #2f8a2f;
}
.explore-datasets .ui-accordion-header:hover {
  background: #409c40;
}
.explore-datasets .ui-accordion-content {
  padding: 10px;
  padding: 0;
  margin: 0;
}
.explore-datasets .ui-accordion-content li.column-listing {
  list-style: none;
  margin: 7px 0 7px 0;
  padding: 15px 10px;
}
.explore-datasets .ui-accordion-content li.column-listing div.column-descriptions p {
  margin: 2px 0;
  padding: 0;
}
.explore-datasets .ui-accordion-content li.column-listing div.column-add-button button {
  margin: 3px auto;
  font-size: 10px;
  height: 30px;
}
.explore-datasets .ui-accordion-content li.column-listing div.column-add-button button:focus {
  outline: none;
  box-shadow: none;
}
.explore-datasets .ui-accordion-content li.column-listing:nth-child(odd) {
  background-color: #eee;
}
.explore-datasets .ui-accordion-content li.column-listing:hover {
  background-color: #e3ffe9;
}
.explore-datasets .ui-state-hover {
  color: #fff;
}
.modal .rows {
  padding: 0;
  margin: 0;
}
.modal .rowValue {
  list-style: none;
  padding: 10px 10px 3px 10px;
}
.modal .rowValue:nth-child(odd) {
  background-color: #ddd;
}
