.top-bar {
  height: 100px;
}
.top-bar .cart {
  height: 100%;
  margin-bottom: 0;
}
.explore {
  margin-top: 70px;
}
.explore h1 {
  margin-bottom: 4px;
}
.explore h3 {
  margin-top: 0;
}
.explore header {
  width: 100%;
  height: 40px;
  background-color: #ccc;
  padding: 7px 19px 5px 19px;
  margin: 8px 0 4px 0;
}
.explore header p {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  color: #333;
}
.explore header p:last-child {
  margin-right: 0px;
}
.explore header p:hover {
  color: #666;
}
.explore header span {
  margin-left: 6px;
}
.explore-datasets {
  margin: 10px 0 20px 0;
}
.explore-datasets .ui-accordion-header {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  background: #4cae4c;
  border-color: #2f8a2f;
}
.explore-datasets .ui-accordion-header:hover {
  background: #409c40;
}
.explore-datasets .ui-accordion-content {
  padding: 10px;
  padding: 0;
  margin: 0;
}
.explore-datasets .ui-accordion-content li.column-listing {
  list-style: none;
  margin: 7px 0 7px 0;
  padding: 15px 10px;
}
.explore-datasets .ui-accordion-content li.column-listing div.column-descriptions p {
  margin: 2px 0;
  padding: 0;
}
.explore-datasets .ui-accordion-content li.column-listing div.column-add-button button {
  margin: 3px auto;
  font-size: 10px;
  height: 30px;
}
.explore-datasets .ui-accordion-content li.column-listing div.column-add-button button:focus {
  outline: none;
  box-shadow: none;
}
.explore-datasets .ui-accordion-content li.column-listing:nth-child(odd) {
  background-color: #eee;
}
.explore-datasets .ui-accordion-content li.column-listing:hover {
  background-color: #e3ffe9;
}
.explore-datasets .ui-state-hover {
  color: #fff;
}
.modal .rows {
  padding: 0;
  margin: 0;
}
.modal .rowValue {
  list-style: none;
  padding: 10px 10px 3px 10px;
}
.modal .rowValue:nth-child(odd) {
  background-color: #ddd;
}
