#searchField {
  font-size: 1.4em;
  margin-bottom: 5px; 
  width: 100%;
}

#wrapper {
  margin-top: 100px;
}

footer {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding: 10px;
}

h5.keywords {
  margin: 0;
  text-decoration: underline;
}

table {
  thead {
    font-weight: bold;
  }
  &.dataset {
    font-size: 0.8em;
  }
}

.accordion-content {
  padding: 10px !important;
}

.content-table {
  padding: 0;
}

.data-explore-header {
  font-size: 0.9em;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  
  p.name {
    left: 48px;
    position: relative;
  }
  p.source {
    text-align: center;
  }
  p.stars {
    position: relative;
    right: 30px;
    text-align: right;
  }
}

.dataset-item {
  font-weight: normal;
  font-size: 1em;
  p.name {
    font-weight: bold;
    font-size: 1.1em;
    left: 0px;
    margin: 0;
    position: relative;
    text-align: left;
  }
  p.source {
    font-style: italic;
    margin: 0;
    position: relative;
    text-align: center;
  }
  p.stars {
    margin: 0;
    position: relative;
    right: 35px;
    text-align: right;
  }
}

.explore-content {
  margin-top: 30px;
}

.explore-header {
  display: inline-block;
}

.keywords {
  text-align: center;
}

.shaded {
  background-color: #ccc;
  border-radius: 10px;
  padding: 10px;
  -webkit-border-radius: 10px;
}

.shaded-li-header {
  background-color: #888;
  font-size: 1.2em;
  font-weight: bold;
}

.visView form {
  height: 90px;
  margin-top: 30px;
}
.visView #graph {
  min-height: 100px;
  width: 100%;
  background-color: #ccc;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 3% 5%;
}
