#visualizer, #explore, #dataset {
  cursor: pointer; }

#wrapper {
  margin-top: 100px; }

footer {
  border-top: 1px solid #cccccc;
  clear: both;
  padding: 10px; }

.meta-data {
  font-size: 0.7em;
  text-align: center; }
  .meta-data h5 {
    text-decoration: underline; }
