#searchField {
  background-color: transparent !important;
  border: none !important;
  border-radius: 20px;
  color: #444;
  display: inline-block;
  font-size: 1.4em;
  height: 40px;
  outline: none;
  padding: 0 5px;
  width: 100%;
}

#wrapper {
  margin-top: 100px;
}

footer {
  border-top: 1px solid #ccc;
  clear: both;
  padding: 10px;
}

h5.keywords {
  margin: 0;
  text-decoration: underline;
}

table.dataset {
  margin: 0;
  thead {
    font-weight: bold;
  }
  &.dataset {
    font-size: 0.8em;
  }
}

.accordion-content {
  padding: 5px !important;
}

.categories {
  overflow-x: auto;
}

.content-table {
  overflow-x: auto;
  padding: 0;
}

.data-explore-header {
  font-size: 0.9em;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  
  p.name {
    left: 48px;
    position: relative;
  }
  p.source {
    text-align: center;
  }
  p.stars {
    position: relative;
    right: 30px;
    text-align: right;
  }
}

.dataset-item {
  font-weight: normal;
  font-size: 0.75em;
  p.name {
    font-weight: bold;
    font-size: 1.1em;
    left: 0px;
    margin: 0;
    position: relative;
    text-align: left;
  }
  p.source {
    font-style: italic;
    margin: 0;
    position: relative;
    text-align: center;
  }
  p.stars {
    margin: 0;
    position: relative;
    right: 35px;
    text-align: right;
  }
}

.delete-keyword {
  background-color: DarkTurquoise;
  border-radius: 20px;
  margin-left: 3px;
  padding: 1px 3px;
}

.explore-categories, .explore-datasets {
  margin-bottom: 20px;
}


.explore-content {
  margin-top: 30px;
}

.explore-header {
  display: inline-block;
}

.input-border {
  background-color: white;
  border: 1px solid #bbb;
  border-radius: 20px;
  cursor: text;
  padding: 0 10px;
  position: relative;
  white-space: nowrap;
}

.input-shader {
  background-color: #3498db;
  border-radius: 50px;
  margin-top: 20px;
  padding: 3px 5px;
}

.keyword-header {
  margin: 10px 0 5px 0;
  padding: 0;
  text-align: center;
  text-decoration: underline;
}

.keyword-item {
  list-style: none;
  font-size: 0.7em;
  padding: 0;
  text-align: center;
  li {
    padding: 2px 0;
  }
}

.meta-data {
  font-size: 0.7em;
  text-align: center;
  h5 {
    text-decoration: underline;
  }
}

.post-keyword {
  background-color: Aqua;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  padding: 3px 4px 3px 4px;
}

.shaded {
  background-color: #ccc;
  border-radius: 10px;
  padding: 10px;
  -webkit-border-radius: 10px;
}

.shaded-li-header {
  background-color: #888;
  font-size: 1.2em;
  font-weight: bold;
}

.view-data {
  position: relative;
  bottom: -60px;
  right: -20px;
}
