#searchField {
  font-size: 1.4em;
  margin-bottom: 5px; 
  width: 100%;
}

#wrapper {
  margin-top: 100px;
}

footer {
  border-top: 1px solid #ccc;
  padding: 10px;
}

.col-name {
  font-size: 1.3em;
  font-weight: bold;
  text-align: left;
  p {
    left: 34px;
    position: relative;
  }
}

.col-source {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

.col-stars {
  font-size: 1.3em;
  font-weight: bold;
  text-align: right;
  p {
    margin: 0;
    padding: 0;
    position: relative;
    right: 40px;
  }
}

.explore-content {
  margin-top: 30px;
}

.explore-header {
  display: inline-block;
}

.shaded {
  background-color: #ccc;
  border-radius: 10px;
  padding: 10px;
  -webkit-border-radius: 10px;
}

.shaded-li-header {
  background-color: #888;
  font-size: 1.2em;
  font-weight: bold;
}

.visView form {
  height: 90px;
  margin-top: 30px;
}
.visView #graph {
  min-height: 100px;
  width: 100%;
  background-color: #ccc;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 3% 5%;
}
