* {
  outline: none;
}
button:focus {
  outline: none !important;
}
html {
  background-color: #fff;
}
header #visualizer,
header #explore,
header #login {
  cursor: pointer;
  margin-top: 3px;
}
header .navbar-brand {
  margin-top: 3px;
  font-size: 25px;
  font-weight: 800;
}
header .navbar-brand .brand-smaller {
  font-size: 18px;
  letter-spacing: 1.5px;
}
header #headerSearchTag {
  margin-top: 14px;
  margin-left: 15px;
  float: left;
}
header #headerSearchTag input[type='text'] {
  color: #666;
  padding: 0px 5px;
  width: 300px;
  height: 28px;
  background-color: #222;
  border: 1px solid #555;
}
header #headerSearchTag input[type='text']:focus {
  background-color: #fff;
}
header #headerSearchTag button {
  height: 28px;
  margin-top: -2px;
  margin-left: 3px;
}
#wrapper {
  margin-top: 50px;
  min-height: 450px;
}
#wrapper .landing-splash {
  width: 100%;
  height: 650px;
  background-image: url("../images/splash-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
}
#wrapper .landing-copy {
  z-index: 10;
  height: 450px;
  margin-top: 60px;
  padding: 20px 20px 40px 20px;
}
#wrapper .landing-copy h1 {
  z-index: 10;
  color: #222;
  font-size: 60px;
  font-weight: 800;
}
#wrapper .landing-copy h3 {
  color: #222;
  font-size: 30px;
  letter-spacing: 1px;
  margin: 0;
}
#wrapper .landing-copy h2 {
  margin: 2px;
}
#wrapper .landing-copy p {
  margin: 20px 0 20px 0;
}
#wrapper .landing-copy form {
  text-align: center;
  margin-top: 10px;
}
#wrapper .landing-copy form input[type="text"] {
  text-align: center;
  height: 50px;
  padding-top: 5px;
  font-size: 20px;
}
#wrapper .landing-copy form input[type='text']:focus {
  border-color: #999;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(126,126,126,0.4);
}
#wrapper .landing-copy form input[type='text']:focus::-webkit-input-placeholder {
  color: transparent;
}
#wrapper .landing-copy form input[type='text']:focus::-moz-placeholder {
  color: transparent;
}
#wrapper .landing-copy form #getStartedButton {
  width: 200px;
  margin: 5px auto;
}
#wrapper .landing-copy form #getStartedButton:active {
  box-shadow: none;
  outline: none;
}
#wrapper .backer {
  z-index: 1;
  height: 410px;
  padding: 20px;
  background-color: #eee;
  opacity: 0.8;
  margin-top: -425px;
  border-radius: 10px;
}
.about-datsy-strip {
  position: relative;
  width: 100%;
  background-color: #fff;
  margin-top: 135px;
}
.about-datsy-strip .about-datsy h1 {
  font-weight: 800;
  font-size: 50px;
}
.about-datsy-strip .about-datsy .marketing {
  margin-top: 30px;
}
.about-datsy-strip .about-datsy .marketing img {
  position: relative;
  height: 140px;
  width: 140px;
  left: 50%;
  margin-left: -70px;
}
.about-datsy-strip .about-datsy .marketing h2 {
  text-align: center;
}
.about-datsy-strip .about-datsy .exampleGraphs {
  margin: 35px 0;
}
.about-datsy-strip .about-datsy .exampleGraphs h1 {
  margin: 0 0 30px 0;
}
.buffer {
  margin: 20px 0;
}
.ui-menu .ui-menu-item .ui-menu-item a {
  border: 0;
  list-style-image: none;
  margin-bottom: 4px;
  background: #eee;
}
.ui-menu:hover .ui-menu-item:hover .ui-menu-item a:hover {
  border: 0;
  list-style-image: none;
  margin-bottom: 4px;
  background: #eee;
}
footer {
  border-top: 1px solid #ccc;
  padding: 50px 10px 50px 10px;
  background-color: #fff;
}
@media all and (max-width: 1200px) and (min-width: 991px) {
  #wrapper .landing-copy {
    margin-top: 40px;
  }
  #wrapper .backer {
    height: 495px;
    margin-top: -425px;
  }
  .about-datsy-strip {
    margin-top: 70px;
  }
}
.failed-template .try-again-button > button {
  width: 100px;
}
@media all and (max-width: 991px) and (min-width: 768px) {
  header .container {
    padding-right: 5px;
    padding-left: 5px;
  }
  header #headerSearchTag {
    margin-left: 0;
  }
  header #headerSearchTag input[type='text'] {
    width: 160px;
  }
}
@media all and (max-width: 768px) and (min-width: 570px) {
  #headerSearchTag {
    margin-left: 10px;
  }
  #wrapper .landing-copy h1 {
    font-size: 50px;
  }
}
@media all and (max-width: 570px) {
  #headerSearchTag {
    display: none;
  }
  #wrapper .landing-copy h1 {
    font-size: 45px;
  }
  #wrapper .landing-copy h3 {
    font-size: 25px;
  }
}
