.chart-access-buttons .btn-group {
  margin-top: 20px;
}
#graph {
  position: relative;
  min-height: 100px;
  width: 100%;
  background-color: #eee;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 2% 3% 1% 2%;
}
#downloadPhoto {
  margin-top: 20px;
}
text {
  font-family: Arial;
  font-size: 9pt;
}
.hidden {
  display: none;
}
.visView form {
  height: 50px;
  margin-top: 30px;
}
