#graph {
  position: relative;
  min-height: 100px;
  width: 100%;
<<<<<<< HEAD
  background-color: #eeeeee;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 2% 3% 1% 2%; }

path {
  stroke: steelblue;
  stroke-width: 3;
  fill: none; }

text {
  font-family: Arial;
  font-size: 9pt; }

.visView form {
  height: 50px;
  margin-top: 30px; }

.axis text {
  font: 10px sans-serif; }

.axis path, .axis line {
  fill: none;
  stroke: black;
  stroke-width: 2;
  shape-rendering: crispEdges; }
=======
  background-color: #ccc;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 2% 3% 1% 2%;
}
svg {
  cursor: pointer;
}
svg text {
  fill: #fff;
  font: 10px sans-serif;
  text-anchor: end;
}
svg .bar {
  fill: #4682b4;
}
svg .bar:hover {
  fill: #8b0000;
}
svg .axis text {
  font: 10px sans-serif;
}
svg .axis path,
svg .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
svg .x.axis path {
  display: none;
}
#dataColumnOptions {
  min-height: 50px;
  margin-bottom: 20px;
  margin-top: 30px;
}
#dataColumnOptions .dataCol {
  width: 90%;
  margin: 3px auto;
  text-align: center;
  padding-top: 4px;
  height: 30px;
  background-color: #eee;
}
#dataColumnOptions .dataCol:nth-child(even) {
  background-color: #ddd;
}
>>>>>>> fe320982248d8cd2bc754c9db2cb1bfadea1ebf8
