#graph {
  position: relative;
  min-height: 100px;
  width: 100%;
  background-color: #eeeeee;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 40px;
  padding: 2% 3% 1% 2%; }

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none; }

line {
  stroke: black; }

text {
  font-family: Arial;
  font-size: 9pt; }

.visView form {
  height: 50px;
  margin-top: 30px; }

.axis text {
  font: 10px sans-serif; }

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges; }
