div.row.cart
  div.panel.panel-default
    div.panel-heading
      h4.text-center.panel-title Column Cart
    div.panel-body
      div.cart-text.col-sm-5
        p Total Columns:
        p.total-columns-added 0
      div.clear-button.col-sm-3
        button#clear.btn.btn-sm.btn-success Clear
      div.go-button.col-sm-3
        button#go.btn.btn-sm.btn-success Go!
