div.column-descriptions.col-md-9
  p Column Name: {{ name }}
  p Data Type: {{ datatype }}
  p Description: {{ description }}
div.column-add-button.col-md-3
  button.btn.btn-success.btn-xs.btn-block.viewSampleData View Sample Data
  button.btn.btn-success.btn-xs.btn-block.addColumnForVis Add For Viewing
