h3.row.dataset-item
  div.col-md-4
    p.name {{ table_name }}
  div.col-md-4
    p.source {{ author}}
  div.col-md-4
    p.stars
      span.glyphicon.glyphicon-star-empty
      span.glyphicon.glyphicon-star-empty
      span.glyphicon.glyphicon-star-empty
      span.glyphicon.glyphicon-star-empty
div.row.accordion-content
  ul
    {{#each columns}}
    li
      div
        p Column Name: {{ name }}
        p Data Type: {{ data_type}}
        p Description: {{ description }}
        button.btn.btn-success.addColumnForVis Add This Column for Viewing
    {{/each}}
  //- p {{attributes.description}}
  //- {{#each attributes.tags}}
  //- p {{this}}
  //- {{/each}}
