ul.column-list
  {{#each columns}}
  li.column-listing
    div.column-descriptions.col-md-8
      p Column Name: {{ name }}
      p Data Type: {{ data_type}}
      p Description: {{ description }}
    div.column-add-button.col-md-4
      button.btn.btn-success.btn-sm.addColumnForVis Add This Column for Viewing
  {{/each}}
  //- p {{attributes.description}}
  //- {{#each attributes.tags}}
  //- p {{this}}
  //- {{/each}}
