div.row.top-bar
  div.text-box.col-md-9
    h1 Browse Data Sets
    h4.text-muted Find the data you would like to see visualized

header.row.well.well-sm
  p#sort_table_name.col-md-4.text-center Sort By Name
  p#sort_author.col-md-4.text-center Sort By Source 
  p#sort_rating.col-md-4.text-center Sort By Rating