div.row.top-bar
  div.text-box.col-md-8
    h1.text-center Browse Data Sets
    h3.text-center.text-muted Find the data you would like to see visualized
  div.cart.col-md-4.well.well-lg
    h4.text-center Column Cart
    //- div.total-count
    //-   p Total Columns:
    //-   p.total 0
    div.buttons
      button#go.btn.btn-sm.btn-success Go!
      button#clear.btn.btn-sm.btn-success Clear

  //- header.row.panel
  //-   p.col-md-4 Sort By Name 
  //-     span.glyphicon.glyphicon-chevron-up
  //-   p.col-md-4 Sort By Source 
  //-     span.glyphicon.glyphicon-chevron-up
  //-   p.col-md-4 Sort By Stars
  //-     span.glyphicon.glyphicon-chevron-up