div.row.top-bar
  div.text-box.col-md-8
    h1 Browse Data Sets
    h3.text-muted Find the data you would like to see visualized


  //- header.row.panel
  //-   p.col-md-4 Sort By Name 
  //-     span.glyphicon.glyphicon-chevron-up
  //-   p.col-md-4 Sort By Source 
  //-     span.glyphicon.glyphicon-chevron-up
  //-   p.col-md-4 Sort By Stars
  //-     span.glyphicon.glyphicon-chevron-up