div.col-md-10.col-md-offset-1.explore-datasets
  div.shaded
    header.row.panel
      p.name Sort By Name 
        span.glyphicon.glyphicon-chevron-up
      p.source Sort By Source 
        span.glyphicon.glyphicon-chevron-up
      p.stars Sort By Stars
        span.glyphicon.glyphicon-chevron-up
    div.accordion
