div.col-md-10.col-md-offset-1.explore-datasets
  div.shaded
    header.row
      p.name Sort By Name 
        span.glyphicon.glyphicon-chevron-up
        span.glyphicon.glyphicon-chevron-down
      p.source Sort By Source 
        span.glyphicon.glyphicon-chevron-up
        span.glyphicon.glyphicon-chevron-down
      p.stars Sort By Stars 
        span.glyphicon.glyphicon-chevron-up
        span.glyphicon.glyphicon-chevron-down
    //- div.accordion
    //-   h3.row.dataset-item
    //-     div.col-md-4
    //-       p.name Obesity in America
    //-     div.col-md-4
    //-       p.source American McGee
    //-     div.col-md-4
    //-       p.stars
    //-         span.glyphicon.glyphicon-star-empty
    //-         span.glyphicon.glyphicon-star-empty
    //-         span.glyphicon.glyphicon-star-empty
    //-         span.glyphicon.glyphicon-star-empty
    //-   div.row.accordion-content
    //-     div.col-md-6.content-table
    //-       //- Fake static data
    //-       table.table.table-striped.table-bordered.dataset
    //-         thead
    //-           tr
    //-             td id
    //-             td Restaurant
    //-             td State
    //-             td Obesity
    //-             td Scroll1
    //-             td Scroll2
    //-         tbody
    //-           tr
    //-             td 1
    //-             td McDonalds
    //-             td California
    //-             td 28%
    //-             td Fake
    //-             td Fake
    //-           tr
    //-             td 2
    //-             td Mexler
    //-             td New Mexico
    //-             td 12%
    //-             td Fake
    //-             td Fake
    //-           tr
    //-             td 3
    //-             td Wendy's
    //-             td Utah
    //-             td 27%
    //-             td Fake
    //-             td Fake
    //-     div.col-md-3
    //-       h5.keyword-header Keywords
    //-         ul.keyword-item
    //-           li Obesity
    //-           li McDonalds
    //-           li State
    //-     div.col-md-3
    //-       div.row.meta-data
    //-         h5 Summary
    //-         p 27 cols, 14k rows
    //-       div.row
    //-         button.btn.btn-info.view-data View Data

    //-   h3.row.dataset-item
    //-     div.col-md-4
    //-       p.name Dataset2
    //-     div.col-md-4
    //-       p.source Data Source
    //-     div.col-md-4
    //-       p.stars Stars 
    //-   div
    //-     p Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.
      
    //-   h3.row.dataset-item
    //-     div.col-md-4
    //-       p.name Dataset3
    //-     div.col-md-4
    //-       p.source Data Source
    //-     div.col-md-4
    //-       p.stars Stars 
    //-   div
    //-     p Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
    //-     ul
    //-       li List item one
    //-       li List item two
    //-       li List item three
      
    //-   h3.row.dataset-item
    //-     div.col-md-4
    //-       p.name Dataset4
    //-     div.col-md-4
    //-       p.source Data Source
    //-     div.col-md-4
    //-       p.stars Stars 
    //-   div
    //-     p Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est. </p><p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
