div.content
  div.col-md-8.col-md-offset-2.verticalCenter
    h1.text-center Ok! Let's get to work!
    h2.text-center.text-muted Datsy is loading database information
    img.img-responsive(src="images/loading.gif")