div.jumbotron
  h1.text-center Welcome To Datsy!
  p.text-center.lead We set data free.
  button#visualize-data.btn-danger.btn-lg.col-md-offset-3 Visualize Data
  button#explore-data.btn-primary.btn-lg.col-md-offset-2 Explore Datasets
