
<header role="banner" class="row navbar navbar-inverse navbar-fixed-top bs-docs-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".bs-navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="" class="navbar-brand">DATSY<span class="brand-smaller">.IO</span></a>
      <form id="headerSearchTag">
        <input type="text" placeholder="Search for keywords..." class="header-search-box"/>
        <button type="submit" style="display:none" class="header-search-submit btn btn-sm btn-default">Submit</button>
      </form>
    </div>
    <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse span3">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="visualizer">Popular Visualizations</a></li>
        <li><a id="explore">Explore Datasets</a></li>
        <li><a id="login">Log In</a></li>
      </ul>
    </nav>
  </div>
</header>