
<div class="landing-splash">
</div>
<div class="container">
  <div class="landing-copy col-md-7">
    <h1 class="proxima text-center">Welcome to Datsy!</h1>
    <h3 class="proxima lead text-center">We're big data for the little guy.</h3>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lacus imperdiet, tempor dolor quis, mollis turpis. Nunc at viverra justo, non volutpat diam. Maecenas rutrum sollicitudin ornare. Integer eget nibh in libero pellentesque tincid.</p>
    <h2 class="text-center">Let's Get Started</h2>
    <form role="form">
      <div class="form-group">
        <label for="getStartedForm" class="sr-only">Search for a topic that interests you</label>
        <input id="getStartedForm" type="text" placeholder="Search for a topic that interests you." autocomplete="off" class="form-control"/>
      </div>
      <button id="getStartedButton" type="submit" class="btn btn-success btn-lg">Go!</button>
    </form>
  </div>
  <div class="panel backer col-md-7"></div>
</div>
<div class="about-datsy-strip">
  <div class="container">
    <div class="about-datsy row col-lg-12">
      <h1 class="proxima text-center">What is Datsy?</h1>
      <div class="row marketing">
        <div class="col-lg-4"><img src="http://placehold.it/140x140" alt="Generic placeholder image" class="img-circle"/>
          <h2>Data at Your Fingertips</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div>
        <div class="col-lg-4"><img src="http://placehold.it/140x140" alt="Generic placeholder image" class="img-circle"/>
          <h2>Make Connections</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </div>
        <div class="col-lg-4"><img src="http://placehold.it/140x140" alt="Generic placeholder image" class="img-circle"/>
          <h2>Bring Data to Life</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
      </div>
      <hr class="featurette-divider"/>
      <div class="row exampleGraphs">
        <h1 class="row text-center">But Why Would I Care?</h1>
        <p class="lead text-center">
          Data belongs to everyone. But for too long it has been inaccessible, stored in complex formats or hidden away on ugly websites.
          We aim to make it easier for everyone to find the things they want to know about, and see those things visualized in a way that
          makes data make sense.
        </p>
        <p class="lead text-center">Here are some examples taken right from the site.   </p>
      </div>
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Compare Stock data. <span class="text-muted">See the market change.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5"><img src="http://placehold.it/700x500" alt="Generic placeholder image" class="featurette-image img-responsive"/></div>
      </div>
      <hr class="featurette-divider"/>
      <div class="row featurette">
        <div class="col-md-5"><img src="http://placehold.it/700x500" alt="Generic placeholder image" class="featurette-image img-responsive"/></div>
        <div class="col-md-7">
          <h2 class="featurette-heading">How does crime affect home prices? <span class="text-muted">Shouldn't have bought that cheap condo, huh?</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>
      <hr class="featurette-divider"/>
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Quantified self, easy to see. <span class="text-muted">How does your life stack up to your friends?</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5"><img src="http://placehold.it/700x500" alt="Generic placeholder image" class="featurette-image img-responsive"/></div>
      </div>
    </div>
  </div>
</div>
<div class="buffer"></div>