
<div id="dropper" class="col-md-7 col-md-offset-2">
  <ul class="row">
    <li class="xAxis droppable col-md-5">
      <p>Drop X axis value here</p>
    </li>
    <li class="yAxis droppable col-md-5 col-md-offset-2">
      <p>Drop Y axis value here</p>
    </li>
  </ul>
  <button id="renderChart" disabled="disabled" class="btn btn-success btn-lg center">Render</button>
</div>