
<form role="form" class="form-inline center">
  <div class="btn-group">
    <button id="lineChart" type="button" class="btn btn-default">Line</button>
    <button id="streamGraph" type="button" class="btn btn-default">Streamgraph</button>
  </div>
</form>
<div id="graph"></div>