
<h1 class="text-center">Data Comes Alive!</h1>
<form role="form" class="form-inline center">
  <div class="form-group col-md-6">
    <label for="inputData1" class="sr-only">Data Set One</label>
    <input id="inputData1" type="text" placeholder="Data Set One" class="form-control"/>
    <button id="inputButton1" type="submit" class="btn btn-default form-control">Add</button>
  </div>
  <div class="form-group col-md-6">
    <label for="inputData2" class="sr-only">Data Set Two</label>
    <input id="inputData2" type="text" placeholder="Data Set Two" class="form-control"/>
    <button id="inputButton2" type="submit" class="btn btn-default form-control">Add</button>
  </div>
</form>
<div id="graph"></div>