#showMoreBox
  position fixed
  z-index 1000
  min-height 10px
  width 300px
  border-radius 5px
  padding 10px 10px
  background-color #fff
  border 2px solid #999
  box-shadow 0 1px 3px #888

  p
    margin 0
    padding 0

.cart

  .selected-columns
    margin-top 10px

  .panel
    margin-bottom 5px


    .panel-heading
      padding 5px 0

      h4
        margin 0
        padding 0
        color #666
    
    .panel-body
      padding 3px
      cursor pointer

      button
        margin-top 7px
        margin-bottom 7px
        width 160px


      .cart-text
        text-align center
        margin-top 3px
        padding 7px 0 5px 0

        p
          margin 0
          font-size 13px
          font-weight 800
        
        p.total-columns-added
          font-size 18px
          font-weight 800
          padding-bottom 5px

      ul.list-group
        margin 0

        li.list-group-item
          text-align center
          padding 4px 15px

        li.list-group-item:first-child
          margin-top 5px

        li.list-group-item:last-child
          margin-bottom 5px

.top-bar
  margin 0 20px 0 0

.explore
  margin-top 70px
  
  h1
    margin-bottom 4px
    margin-top 5px

  h3
    margin-top 0

  header
    margin 15px auto 5px auto
    width 100%
    padding 3px 3px

    p
      display inline-block
      font-weight 600
      font-size 16px
      margin 0
      color #999
      cursor pointer

    #sort_table_name
      text-align left

    #sort_rating
      text-align right

    p:last-child
      margin-right 0px
    
    p:hover
      color #222

    span
      margin-left 6px

.explore-datasets
  margin 10px 0 20px 0

  .dataset-table-name
    width 45%
    font-weight 800
    display inline-block
    font-size 14px

  .dataset-source
    width 35%
    font-weight 300
    display inline-block
    font-size 14px

  .dataset-rating
    width 10%
    display inline-block
    float right

  .ui-accordion-header
    font-size 18px
    font-weight 700
    padding-top 4px
    padding-bottom 4px
    letter-spacing 1px
    color #FFF
    background #4cae4c
    border-color #2F8A2F

  .ui-accordion-header:hover
    background #409C40

  .ui-accordion-content
    padding 10px !important
    padding 0
    margin 0
  
    .dataset-item-header
      padding-left 15px
      padding-right 15px
      font-size 14px

      .dataset-item-header-title
        font-weight 800

    li.column-listing
      list-style none
      margin 0
      padding 5px 10px
      border-bottom 1px solid #bbb

      div.column-descriptions

        p
          margin 2px 0
          color #555
          font-size 12px
          padding 0
          font-weight 800

          span.column-descriptions-var
            padding-left 6px
            font-weight 400

      div.column-add-button
        margin-top 6px

        button
          margin 3px auto
          font-size 10px
          height 35px

        button:focus
          outline none
          box-shadow none

    li.column-listing:hover
      background-color #eee

    li.column-listing:last-child
      border-bottom 0

  .ui-state-hover
    color #fff

.popover-listing-desc
  padding 0
  margin 0

  li.popover-listing-title
    padding 2px 8px
    font-weight 700
    margin 3px 0
    list-style none
    font-size 13px
    text-align center
    background-color #ddd

  li.popover-listing-title:first-child
    margin-top 5px

  li.popover-listing-param
    margin-bottom 8px
    list-style none
    font-size 14px
    text-align center

  li.popover-listing-param:last-child
    margin-bottom 0
  
.modal

  .rows
    padding 0
    margin 0
    
  .rowValue
    list-style none
    padding 10px 10px 3px 10px
  
  .rowValue:nth-child(odd)
    background-color #ddd
