
<div class="content">
  <div class="col-md-8 col-md-offset-2 verticalCenter">
    <h1 class="text-center">We're sorry, an error has occured.</h1>
    <h2 class="text-center text-muted">Data failed to load. Please hand complaints to the API team</h2>
  </div>
</div>