
<div class="col-md-12 chart-access-buttons">
  <div class="btn-group">
    <button id="lineChart" type="button" class="btn btn-default">Line</button>
    <button id="lineChart2Y" type="button" class="hidden btn btn-default">Line (2 yAxes)</button>
    <button id="stackedArea" type="button" class="btn btn-default">Stacked Area</button>
  </div>
  <button id="downloadPhoto" class="btn btn-primary pull-right">Download PNG</button>
</div>
<div id="graph"></div>