
<div class="content">
  <div class="col-md-8 col-md-offset-2 verticalCenter">
    <h1 class="text-center">Datsy is building your chart!</h1>
    <h2 class="text-center text-muted">Hold tight while we get your data...</h2><img src="images/loading.gif" class="img-responsive"/>
  </div>
</div>