
<div class="column-descriptions col-md-9">
  <p>Column Name: {{ name }}</p>
  <p>Data Type: {{ data_type }}</p>
  <p>Description: {{ description }}</p>
</div>
<div class="column-add-button col-md-3">
  <button class="btn btn-success btn-xs btn-block viewSampleData">View Sample Data</button>
  <button class="btn btn-success btn-xs btn-block addColumnForVis">Add For Viewing</button>
</div>