
<div class="col-md-9 explore-datasets">
  <div class="shaded">
    <header class="row data-explore-header">
      <div class="col-md-4">
        <p class="name">Sort By Name <span class="glyphicon glyphicon-chevron-up"></span><span class="glyphicon glyphicon-chevron-down"></span></p>
      </div>
      <div class="col-md-4">
        <p class="source">Sort By Source <span class="glyphicon glyphicon-chevron-up"></span><span class="glyphicon glyphicon-chevron-down"></span></p>
      </div>
      <div class="col-md-4">
        <p class="stars">Sort By Stars <span class="glyphicon glyphicon-chevron-up"></span><span class="glyphicon glyphicon-chevron-down"></span></p>
      </div>
    </header>
    <div class="accordion">
      <h3 class="row dataset-item">
        <div class="col-md-4">
          <p class="name">Obesity in America</p>
        </div>
        <div class="col-md-4">
          <p class="source">American McGee</p>
        </div>
        <div class="col-md-4">
          <p class="stars"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></p>
        </div>
      </h3>
      <div class="row accordion-content">
        <div class="col-md-6 content-table">
          <table class="table table-striped table-bordered dataset">
            <thead>
              <tr>
                <td>id</td>
                <td>Restaurant</td>
                <td>State</td>
                <td>Obesity</td>
                <td>Scroll1</td>
                <td>Scroll2</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>McDonalds</td>
                <td>California</td>
                <td>28%</td>
                <td>Fake</td>
                <td>Fake</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Mexler</td>
                <td>New Mexico</td>
                <td>12%</td>
                <td>Fake</td>
                <td>Fake</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Wendy's</td>
                <td>Utah</td>
                <td>27%</td>
                <td>Fake</td>
                <td>Fake</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-3">
          <h5 class="keyword-header">Keywords
            <ul class="keyword-item">
              <li>Obesity</li>
              <li>McDonalds</li>
              <li>State</li>
            </ul>
          </h5>
        </div>
        <div class="col-md-3">
          <div class="row meta-data">
            <h5>Summary</h5>
            <p>27 cols, 14k rows</p>
          </div>
          <div class="row">
            <button class="btn btn-info view-data">View Data</button>
          </div>
        </div>
      </div>
      <h3 class="row dataset-item">
        <div class="col-md-4">
          <p class="name">Dataset2</p>
        </div>
        <div class="col-md-4">
          <p class="source">Data Source</p>
        </div>
        <div class="col-md-4">
          <p class="stars">Stars </p>
        </div>
      </h3>
      <div>
        <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.</p>
      </div>
      <h3 class="row dataset-item">
        <div class="col-md-4">
          <p class="name">Dataset3</p>
        </div>
        <div class="col-md-4">
          <p class="source">Data Source</p>
        </div>
        <div class="col-md-4">
          <p class="stars">Stars </p>
        </div>
      </h3>
      <div>
        <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.</p>
        <ul>
          <li>List item one</li>
          <li>List item two</li>
          <li>List item three</li>
        </ul>
      </div>
      <h3 class="row dataset-item">
        <div class="col-md-4">
          <p class="name">Dataset4</p>
        </div>
        <div class="col-md-4">
          <p class="source">Data Source</p>
        </div>
        <div class="col-md-4">
          <p class="stars">Stars </p>
        </div>
      </h3>
      <div>
        <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est. </p><p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
      </div>
    </div>
  </div>
</div>