
<div class="col-md-3 explore-categories">
  <div class="shaded">
    <div class="categories">
      <ul class="list-group">
        <header> 
          <li class="shaded-li-header list-group-item text-center">Most Popular Keywords</li>
        </header>
        <li class="list-group-item">Bicycle</li>
        <li class="list-group-item">Street</li>
        <li class="list-group-item">Hair Plugs</li>
      </ul>
      <ul class="list-group">
        <header>
          <li class="shaded-li-header list-group-item text-center">Most Popular Datasets</li>
        </header>
        <li class="list-group-item">Finance</li>
        <li class="list-group-item">Transportation</li>
        <li class="list-group-item">Crime</li>
      </ul>
    </div>
  </div>
</div>