
<h1 class="text-center">Explore Datasets</h1>
<div class="row input-shader">
  <div class="input-border"><span class="style"></span>
    <input id="searchField" type="text" placeholder="Search for keywords..."/>
  </div>
</div>
<div class="explore-content row"></div>