header.row.navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav(role="banner")
  div.container
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".bs-navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      
      a.navbar-brand(href="") Datsy.io
    
    nav.collapse.navbar-collapse.bs-navbar-collapse(role="navigation").span3
      ul.nav.navbar-nav.navbar-right
        li
          a#visualizer Popular Visualizations
        li
          a#explore Explore Datasets
