div.content.failed-template
 div.col-md-8.col-md-offset-2.verticalCenter
  h1.text-center We're sorry, an error has occured.
  h2.text-center.text-muted Data failed to load. Please hand complaints to the API team
  div.text-center
    button.try-again-button.btn.btn-lg.btn-success Back