div.row.col-md-12
  div.btn-group
    button#lineChart.btn.btn-default(type="button") Line
    button#stackedArea.btn.btn-default(type="button") Stacked Area
    button#streamGraph.btn.btn-default(type="button") Streamgraph
  
  button#downloadPhoto.btn.btn-primary.pull-right Download Photo

div#graph