div.row
  div.btn-group
    button#lineChart.btn.btn-default(type="button") Line
    button#streamGraph.btn.btn-default(type="button") Streamgraph
  
  button#savePhoto.btn.btn-primary Save Photo

div#graph