div.col-md-12.chart-access-buttons
  div.btn-group
    button#lineChart.btn.btn-default(type="button") Line
    button#stackedMultiBar.btn.btn-default(type="button") Stacked Multi-Bar
    button#stackedArea.btn.btn-default(type="button") Stacked Area
    button#scatterBubble.btn.btn-default(type="button") Scatter / Bubble
    //- button#streamGraph.btn.btn-default(type="button") Streamgraph
  
  button#downloadPhoto.btn.btn-primary.pull-right Download PNG

div#graph