div.col-md-12.chart-access-buttons
  div.btn-group
    button#lineChart.btn.btn-default(type="button") Line
    button#lineChart2Y.hidden.btn.btn-default(type="button") 2-yAxes
    button#stackedArea.btn.btn-default(type="button") Stacked Area
  
  button#downloadPhoto.btn.btn-primary.pull-right Download PNG

div#graph