div.content
  div.col-md-8.col-md-offset-2.verticalCenter
    h1.text-center Datsy is building your chart!
    h2.text-center.text-muted Hold tight while we get your data...
    img.img-responsive(src="images/loading.gif")