<!DOCTYPE html>
<html>
  <head>
    <title>DATSY.io</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/jqueryui/themes/base/minified/jquery-ui.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/datasearch.css">
    <link rel="stylesheet" href="/stylesheets/explorer.css">
    <link rel="stylesheet" href="/stylesheets/visualizer.css">
    <link rel="icon" type="image/png" href="images/icon.png">
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/handlebars/handlebars.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/jqueryui/ui/minified/jquery-ui.min.js"></script>
  </head>
  <body>
    <script id="datsyApp" type="text/x-handlebars-template">
      <header role="banner" class="row navbar navbar-inverse navbar-fixed-top bs-docs-nav">
        <div class="container">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".bs-navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="" class="navbar-brand">Datsy.io</a>
          </div>
          <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse span3">
            <ul class="nav navbar-nav navbar-right">
              <li><a id="visualizer">Charts and Graphs</a></li>
              <li><a id="explore">Explore Datasets</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div id="wrapper"></div>
      <footer class="container"><a href="#" class="pull-right">Back to top</a>
        <p>&copy; 2013 Datsy &middot; All Rights Reserved</p>
      </footer>
    </script>
    <script id="indexView" type="text/x-handlebars-template">
      <div class="landing-splash">
      </div>
      <div class="container">
        <div class="landing-copy col-md-7">
          <h1 class="proxima text-center">Welcome to Datsy!</h1>
          <h3 class="proxima lead text-center">We're big data for the little guy.</h3>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lacus imperdiet, tempor dolor quis, mollis turpis. Nunc at viverra justo, non volutpat diam. Maecenas rutrum sollicitudin ornare. Integer eget nibh in libero pellentesque tincid.</p>
          <h2 class="text-center">Let's Get Started</h2>
          <form role="form">
            <div class="form-group">
              <label for="getStartedForm" class="sr-only">Search for a topic that interests you</label>
              <input id="getStartedForm" type="text" placeholder="Search for a topic that interests you." autocomplete="off" class="form-control">
            </div>
            <button id="getStartedButton" type="submit" class="btn btn-success btn-lg">Go!</button>
          </form>
        </div>
        <div class="panel backer col-md-7"></div>
      </div>
      <div class="about-datsy-strip">
        <div class="container">
          <div class="about-datsy row col-lg-12">
            <h1 class="proxima text-center">What is Datsy?</h1>
            <div class="row marketing">
              <div class="col-lg-4"><img src="http://placehold.it/140x140" alt="Generic placeholder image" class="img-circle">
                <h2>Data at Your Fingertips</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
              </div>
              <div class="col-lg-4"><img src="http://placehold.it/140x140" alt="Generic placeholder image" class="img-circle">
                <h2>Make Connections</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
              </div>
              <div class="col-lg-4"><img src="http://placehold.it/140x140" alt="Generic placeholder image" class="img-circle">
                <h2>Bring Data to Life</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              </div>
            </div>
            <hr class="featurette-divider">
            <div class="row exampleGraphs">
              <h1 class="row text-center">But Why Would I Care?</h1>
              <p class="lead text-center">
                Data belongs to everyone. But for too long it has been inaccessible, stored in complex formats or hidden away on ugly websites.
                We aim to make it easier for everyone to find the things they want to know about, and see those things visualized in a way that
                makes data make sense.
              </p>
              <p class="lead text-center">Here are some examples taken right from the site.   </p>
            </div>
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Compare Stock data. <span class="text-muted">See the market change.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>
              <div class="col-md-5"><img src="http://placehold.it/700x500" alt="Generic placeholder image" class="featurette-image img-responsive"></div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
              <div class="col-md-5"><img src="http://placehold.it/700x500" alt="Generic placeholder image" class="featurette-image img-responsive"></div>
              <div class="col-md-7">
                <h2 class="featurette-heading">How does crime affect home prices? <span class="text-muted">Shouldn't have bought that cheap condo, huh?</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Quantified self, easy to see. <span class="text-muted">How does your life stack up to your friends?</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>
              <div class="col-md-5"><img src="http://placehold.it/700x500" alt="Generic placeholder image" class="featurette-image img-responsive"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="buffer"></div>
    </script>
    <script id="exploreDataSets" type="text/x-handlebars-template">
      <div class="top-bar">
        <h1 class="text-center">Browse Data Sets</h1>
        <h3 class="text-center text-muted">Find the data you would like to see visualized</h3>
      </div>
    </script>
    <script id="listDatasets" type="text/x-handlebars-template">
    </script>
    <script id="dataSetColumn" type="text/x-handlebars-template">
      <div class="column-descriptions col-md-9">
        <p>Column Name: {{ name }}</p>
        <p>Data Type: {{ data_type }}</p>
        <p>Description: {{ description }}</p>
      </div>
      <div class="column-add-button col-md-3">
        <button class="btn btn-success btn-xs btn-block viewSampleData">View Sample Data</button>
        <button class="btn btn-success btn-xs btn-block addColumnForVis">Add For Viewing</button>
      </div>
    </script>
    <script id="dataSetSearch" type="text/x-handlebars-template">
      <div class="container filterResults">{{#if singular}}
        <h1 class="text-center">{{ searchTag }} appeared in {{ occurance }} result.</h1>{{else}}
        <h1 class="text-center">{{ searchTag }} appeared in {{ occurance }} results.</h1>{{/if}}
        <h3 class="text-center text-muted">Add filters to refine search, or click Browse Data Sets start exploring.</h3>
        <form role="form" class="form-inline">
          <div class="form-group col-md-10 col-md-offset-1">
            <label for="filter" class="sr-only">Add topics to filter results</label>
            <input id="filterTagSearch" type="text" placeholder="Add topics to filter results." autocomplete="off" class="form-control">
          </div>
          <button id="addFilters" type="submit" class="btn btn-success glyphicon glyphicon-plus"></button>
        </form>
        <button id="seeDataBases" type="submit" class="btn btn-success btn-lg col-md-offset-5">Browse Data Sets</button>
      </div>
    </script>
    <script id="loading" type="text/x-handlebars-template">
      <div class="content">
        <div class="col-md-8 col-md-offset-2 verticalCenter">
          <h1 class="text-center">Hmmm... {{ searchTag }}?</h1>
          <h2 class="text-center text-muted">Datsy is fetching your results...</h2><img src="images/loading.gif" class="img-responsive">
        </div>
      </div>
    </script>
    <script id="modal" type="text/x-handlebars-template">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
            <h4 class="modal-title">{{ title }}</h4>
          </div>
          <div class="modal-body">{{{ body }}}</div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-success">Close</button>
          </div>
        </div>
      </div>
    </script>
    <script id="visualize" type="text/x-handlebars-template">
      <form role="form" class="form-inline center">
        <div class="btn-group">
          <button id="lineChart" type="button" class="btn btn-default">Line</button>
          <button id="streamGraph" type="button" class="btn btn-default">Streamgraph</button>
        </div>
      </form>
      <div id="graph"></div>
    </script>
    <script>
      var DatsyApp = {};
      
    </script>
    <script src="javascript/models/Datsy.js"></script>
    <script src="javascript/models/Tag.js"></script>
    <script src="javascript/models/Database.js"></script>
    <script src="javascript/models/SampleData.js"></script>
    <script src="javascript/collections/Tags.js"></script>
    <script src="javascript/collections/Databases.js"></script>
    <script src="javascript/views/DatsyApp.js"></script>
    <script src="javascript/views/IndexView.js"></script>
    <script src="javascript/views/helperViews/BaseModalView.js"></script>
    <script src="javascript/views/dataSetSearch/DataSetSearchView.js"></script>
    <script src="javascript/views/explore/ExploreDataSetsView.js"></script>
    <script src="javascript/views/explore/ListDataSetsView.js"></script>
    <script src="javascript/views/explore/DataSetItemView.js"></script>
    <script src="javascript/views/explore/DataSetColumnView.js"></script>
    <script src="javascript/views/explore/DataSampleModelView.js"></script>
    <script src="javascript/views/visualizer/SvgBackboneView.js"></script>
    <script src="javascript/views/visualizer/ChartView.js"></script>
    <script src="javascript/views/visualizer/VisualizerView.js"></script>
    <script src="javascript/router/router.js"></script>
    <script>
      var datsy = new DatsyApp.Datsy();
      
      var templates = {};
      $("[type='text/x-handlebars-template']").each(function(index, div){
        templates[div.id] = Handlebars.compile(div.innerHTML);
      });
      datsy.set('templates', templates);
      
      window.universalTemplates = {};
      $("[type='text/y-handlebars-template']").each(function(index, div){
        universalTemplates[div.id] = Handlebars.compile(div.innerHTML);
      });
      
      var datsyApp = new DatsyApp.DatsyView({ model: datsy });
    </script>
  </body>
</html>