
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="text-center panel-title">Column Cart</h4>
  </div>
  <div class="panel-body">
    <div class="cart-text col-sm-12">
      <p>Total Columns Selected: <span class="total-columns-added">0</span></p>
    </div>
    <div class="row">
      <div class="clear-button col-md-6 text-center">
        <button id="clear" class="btn btn-sm btn-success">Clear</button>
      </div>
      <div class="go-button col-md-6 text-center">
        <button id="go" class="btn btn-sm btn-success">Go!</button>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default selected-columns">
  <div class="panel-heading">
    <h4 class="text-center panel-title">Selected Columns</h4>
  </div>
  <div class="panel-body">
    <ul id="selectedColumns" class="list-group">
      <li class="list-group-item">No Columns Selected</li>
    </ul>
  </div>
</div>