
<div class="row top-bar">
  <div class="text-box col-md-9">
    <h1>Browse Data Sets</h1>
    <h4 class="text-muted">Find the data you would like to see visualized</h4>
  </div>
</div>
<header class="row well well-sm">
  <p id="sort_table_name" class="col-md-4 text-center">Sort By Name</p>
  <p id="sort_author" class="col-md-4 text-center">Sort By Source </p>
  <p id="sort_rating" class="col-md-4 text-center">Sort By Rating</p>
</header>