div.content
  div.col-md-8.col-md-offset-2.verticalCenter
    h1.text-center Hmmm... {{ searchTag }}?
    h2.text-center.text-muted Datsy is fetching your results...
    img.img-responsive(src="images/loading.gif")