
<div class="panel panel-default filter-suggestions">
  <div class="panel-heading">
    <h5 class="text-center panel-title">Popular Search Topics</h5>
  </div>
  <div class="panel-body">
    <ul class="list-group">{{#each tags}}
      <li class="list-group-item tag-suggestion">{{this}}</li>{{/each}}
    </ul>
  </div>
</div>